* {
    box-sizing: border-box;
}

:root {
    --font-size: 1em;
    --containerwidth: 400px;
    font-size: var(--font-size);
}

body {
    height: 100dvh;
    margin: 0;
    background-color: #f1f1f1;
    font-family: sans-serif;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: var(--containerwidth);
        min-width: 300px;
    }

    &__form {
        flex: 0 0 auto;
        width: 100%;
    }
}

.link {
    color: darkcyan;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    :root {
        --containerwidth: 95%;
        --font-size: 0.8rem;
    }
}
