.success {
    opacity: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(123, 123, 123);
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-content: start;
    transition: 0.5s;
    &.active {
        opacity: 1;
    }
    &.hidden {
        display: none;
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5rem;
    }
    &__text {
        margin: 5px 0;
        font-size: 1.1rem;
        &--greet {
            text-align: center;
        }
    }
    &__button {
        padding: 10px;
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: rgba(75, 101, 218, 0.615);
        }

        &--show-password {
            font-size: 0.6rem;
            padding: 5px;
            margin-bottom: 20px;
        }
        &--repeat {
            padding: 10px;
        }
    }
}

.usser-info {
    color: black;
    &--password {
        font-size: 1em;
        background-color: transparent;
        border: none;
    }
    &--password-difficulty {
        position: relative;
        top: -5px;
        text-align: center;
        font-size: 0.8rem;
    }
}
